* {
	margin: 0;
	padding: 0;
}

header {
	width: 100%;
	height:	50px;
	color: rgb(255, 150, 0);
	background-color: black;
	text-align: center;
	line-height: 50px;
}

nav {
	width: 100%;
	height: 50px;
	background-color: blue;
}

nav ul {
	width: 100%;
	height: 100%;
	list-style-type: none;
}

nav ul li {
	display: inline-block;
	width: 25%;
	height: 100%;
	line-height: 50px;
	text-align: center;
	color: white;
	font-weight: bold;
}

#slika {
	width: 100%;
	height: auto;
}

.blok {
	width: 33.33%;
	height: 100px;
	float: left;
	background-color: red;

}


@media only screen and (min-width: 641px) and (max-width: 1000px) {
	nav ul li {
		background-color: purple;
	}
}

@media only screen and (max-width: 640px) {
	nav ul li {
		width: 100%;
		height: 25%;
	}

	nav {
		height: 200px;
	}

	.blok {
		width: 100%;
		margin-top: 20px;
	}
}

